button.mat-raised-button {
    font-size: 15px;
    height: 42px;
    margin-bottom: 16px;
    min-width: 100px;
    max-width: 190px; 
    width: 100%;
    background-color: #5a4fdc;
    color: #fff;
  }
  
 