button.mat-raised-button {
    font-size: 15px;
    height: 42px;
    margin-bottom: 16px;
    min-width: 100px;
    max-width: 100px; 
    width: 100%;
    background-color: #5a4fdc;
    color: #fff;
    z-index:1;
    transition: all 0.5s;
}

button.mat-raised-button:hover{
  transform: translateY(-2px);
}

  