#id {
    padding: 0px;
}

/* PRIMEIRA SECTION DA HOME */

.home-second-container {
    margin-bottom: 160px;
}

.home-first-bg-img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 900px;
    background: rgba(90,79,220,0.025);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}



.home-title {
    font-weight: 600; 
    text-shadow: 3px 3px 6px rgb(14 10 65 / 25%); 
    line-height: 1.2; 
    letter-spacing: 1px;
}

.home-subtitle {
    line-height: 1.8;
}

.home-second-subtitle {
    line-height: 1.8; 
    font-weight: 500;
}

.home-main-img {
    position: relative; 
    max-width: 100%;
    height: auto; 
    align-self: center;
}

/* SEGUNDA SECTION DA HOME */

.home-main-card {
    box-shadow: none;
    background-color: transparent;
}

.home-card-lg {
    height: 60px;
    width: 60px;
    
}

.mdi-cube {
    font-size: 40px;
}

.btn {
    font-size: 15px;
    height: 50px;
    margin-bottom: 16px;
    min-width: 100px;
    max-width: 150px; 
    width: 100%;
    color: var(--primary);
    background-color: var(--white);
    transition: all 0.5s;
}

.btn:hover {
    color: var(--white);
    background-color: var(--primary);
    transform: translateY(-2px);

  }

@media (min-width: 576px) {
    .home-first-bg-img {
        height: 1200px;
    }

    .home-second-container {
        margin-top: 80px;
        margin-bottom: 160px;
    }
}


@media (min-width: 768px) {
    .home-first-bg-img {
        height: 1400px;
    }
}


@media (min-width: 992px) {
    .home-first-bg-img {
        height: 650px;
    }
}


@media (min-width: 1200px) {
    .home-first-bg-img {
        height: 900px;
    }

    .home-second-container {
        margin-top: 80px;
    }

}
