
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 esquerda">
           <div class="texto-esquerdo">           
                <div class="nav-link title">
                    <span>
                        <h1 class="hero-1-title text-dark fw-bold text-sgadow mb-4" 
                        >Creative Landing Page</h1>
                    </span> 
                </div>

                <div class="margem">
                    <div class="nav-link margem">
                    <p class="texto-2">A creative & modern landing page with Lezir template & We love make things amazing.</p>
                    </div>

                    <div class="nav-link margem2">
                        <p>🥳️Nemo enim ipsam voluptatem quia voluptas sit aspernatur that is fugit.</p>
                    </div>

                    <div class="nav-link margem3">
                        <p><input type="email" name="nome" id=""></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <img class="banner-img" src="assets/img/banner-home.png" alt="banner-inicial">
        </div>
    </div>