<div>
    <!-- Card one -->
    <mat-card class="example-card">
        <img mat-card-image src={{image}} alt={{alt}}>


        <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
            <li class="list-inline-item me-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-calendar icon-size-15 icon me-1">
                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                    <line x1="16" y1="2" x2="16" y2="6"></line>
                    <line x1="8" y1="2" x2="8" y2="6"></line>
                    <line x1="3" y1="10" x2="21" y2="10"></line>
                </svg> {{date}}
            </li>
            <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-user icon-size-15 icon me-1">
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                </svg>{{profile}}</li>
        </ul>
        <mat-card-content mt-n1>

            <mat-card-subtitle class="text-dark fw-bold h4">{{title}}</mat-card-subtitle>
            <p class="text-muted font-size-15"> {{content}}</p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button class="text-primary fs-16 fw-600">Learn More <span
                    class="ms-2 right-icon">→</span></button>

        </mat-card-actions>

    </mat-card>

</div>