<div class="container">
    <div class="row align-item-center justify-content-center mb-5">
        <div class="col-5">
            <h3 class="blog-title mb-3 text-center">Latest News</h3>
            <p class="blog-subtitle text-center">
                Et harum quidem rerum facilis est et expedita distinctio nam libero
                tempore cum soluta nobis eligendi cumque.
            </p>
        </div>
    </div>


    <div class="row justify-content-around">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <app-blog-card image="assets/img/blog-img-1.jpeg" alt="estrada de asfalto no deserto" date="APRIL 10 2020"
                profile="ADMIN" title="Best Traveling Place"
                content="Integer ante arcu accumsan a consectetuer eget posuere mauris praesent adipiscing phasellus ullamcorper ipsum rutrum punc.">
            </app-blog-card>
        </div>

        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <app-blog-card image="assets/img/blog-img-1.jpeg" alt="estrada de asfalto no deserto" date="APRIL 10 2020"
                profile="ADMIN" title="Best Traveling Place"
                content="Integer ante arcu accumsan a consectetuer eget posuere mauris praesent adipiscing phasellus ullamcorper ipsum rutrum punc.">
            </app-blog-card>
        </div>

        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <app-blog-card image="assets/img/blog-img-1.jpeg" alt="estrada de asfalto no deserto" date="APRIL 10 2020"
                profile="ADMIN" title="Best Traveling Place"
                content="Integer ante arcu accumsan a consectetuer eget posuere mauris praesent adipiscing phasellus ullamcorper ipsum rutrum punc.">
            </app-blog-card>
        </div>

    </div>

</div>
