  <!-- DESKTOP -->
  <mat-toolbar class="navbar" [class.header_change]="header_variable">  

    <div class="d-md-none">
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a routerLink="/">
      <img class="logo" src="assets/img/logo.png" alt="logo">
    </a>

    <div class="d-none d-md-block">
      <a class="nav-item" href="#home">Home</a>
      <a class="nav-item" href="#features">Features</a>
      <a class="nav-item" href="#pricing">Pricing</a>
      <a class="nav-item" href="#blog">Blog</a>
      <a class="nav-item" href="#contact">Contact Us</a>
    </div>

    <div div class="d-none d-md-block">
      <a class="nav-item" routerLinkActive="active-link" (click)="openLogin()" >Log In </a>

      <a class="nav-item" routerLinkActive="active-link" (click)="openRegister()">Register</a>

    </div>

  </mat-toolbar>
