.logo {
  width: 80px;
}

.navbar{
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: rgb(161, 156, 156);
}


.active-link{
  color: #5a4fdc;
}

button:hover {
  background: transparent !important; 
}
