

<ng-container>

  <mat-toolbar class="navbar">

    <a routerLink="/">
        <img class="logo" src="assets/img/logo-ibm.png" alt="logo">
    </a>

    <div>
      <button class="nav-item" mat-button>Home</button>
      <button class="nav-item" mat-button>Features</button>
      <button class="nav-item" mat-button>Pricing</button>
      <button class="nav-item" mat-button>Blog</button>
      <button class="nav-item" mat-button>Contact Us</button>
    </div>

    <div>
      <button class="nav-item" mat-button>Log In</button>
      <button class="nav-item" mat-button>Register</button>
    </div>

  </mat-toolbar>

</ng-container>
