mat-card {
    display: inline-block;
    background-color: #fff;
    text-align: center!important;
    transition: all 0.8s;
}

mat-icon {
    font-size: 30px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 auto;
    background: rgba(90,79,220,0.12);
}

.mdi {
    color: #5a4fdc;
    align-items: center;
}

.card-content {
    line-height: 1.8;
    letter-spacing: 1px;
}

mat-card:hover .card-title {
    color: var(--white);
}

.fw-bold {
    font-weight: 700;
}

mat-card:hover {
    background-color: #5a4fdc;
    transform: translateY(-6px);
}

mat-card:hover mat-icon {
    background: rgba(255,255,255,0.12) !important;
    box-shadow: 0 0 0 7px rgb(255 255 255 / 4%);
}

mat-card:hover .mdi {
    color: #fff;
}

mat-icon mat-card-avatar:hover {
    background: rgba(255,255,255,0.12) !important;
    color: #fff !important;
    box-shadow: 0 0 0 7px rgb(255 255 255 / 4%);
}

mat-card:hover .fs-20 {
    color: #fff;
}