<section class="section bg-light feather-bg-img">

    <div class="container">
        <div class="col-lg-6">
            <div class="text-center mb-5">
                <h3 class="title mb-3">Choose Your Plan</h3>
                <p class="text-muted font-size-15">Et harum quidem rerum facilis est et expedita distinctio nam
                    libero tempore cum soluta nobis eligendi cumque.</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4">
                <app-princing-card 
                icon="mdi mdi-account h1" 
                title="Simple" price="19"
                bandwidth="1GB" 
                onlinespace="500"
                support="Yes"
                > 
                </app-princing-card>
                
            </div>

        </div>

    </div>

</section>