<section class="section bg-light feather-bg-img mb-5" id="pricing">

    <div class="container">
        <div class="row align-items-center justify-content-center mb-1 position-relative">
            <div class="col-8">
              <h3 class="pricing-title font-size-title-md mb-3 text-center">Choose Your Plan</h3>
              <p class="font-color-tertiary font-size-body-sm quicksand text-center">Et harum quidem rerum facilis est et expedita distinctio nam libero tempore cum soluta nobis eligendi cumque.</p>
            </div>
          </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 mt-md-4">
                <app-princing-card 
                icon="mdi mdi-account h1" 
                title="Simple" price="19"
                bandwidth="1GB" 
                onlinespace="500"
                support="Yes"
                > 
                </app-princing-card>
                
            </div>

            <div class="col-lg-4 mt-md-4">
                <app-princing-card 
                icon="mdi mdi-account" 
                title="Simple" price="19"
                bandwidth="1GB" 
                onlinespace="500"
                support="Yes"
                > 
                </app-princing-card>
                
            </div>
  

    
            <div class="col-lg-4 mt-md-4 mb-5">
                <app-princing-card 
                icon="mdi mdi-account h1" 
                title="Simple" price="19"
                bandwidth="1GB" 
                onlinespace="500"
                support="Yes"
                > 
                </app-princing-card>
                
            </div>

        </div>
    

    </div>

</section>