/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '~@mdi/font/css/materialdesignicons.css';



html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
