@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* TODA A ESTRUTURA */
* {
    background-color: #292838;
    /* padding: 5px 30px 0px 30px; */
    /* padding-top: 18px; */
    /* padding-left: 30px; */
    /* padding-right: 70px; */ 
}

/* DIV LOGO + MIDIA + SOBRE */
.mb-5{
    /* margin: 0px 0px 48px; */
    padding-left: 110px;
}

/* LOGOTIPO */
.logo-img{
    width: 100px;
    padding-bottom: 20px;
}

/* SOBRE  */
.sobre{
    color: #FFFFFF80;
    font-size: 15px;
    /* word-wrap: break-word; QUEBRAR LINHA */
    margin: 0 0px 28px;
    overflow-wrap: break-word;
}

/* ICONES MIDIA SOCIAL */
.mdi {
    color: aliceblue;
    font-size: 24px;
    margin: 10px;
}

/* DIV TODAS COLUNAS  */
.row{
    /* line-height: 1.8px; */
    padding: 40px 30px 20px 20px ;
    margin-top: 50px;
    margin-inline: 30px;
    /* margin: 40px; */
}

/* TITULOS COLUNAS */
.title2 { 
    color: white !important;
    font-size: 16px;
} 

/* LISTAS COLUNAS */
mat-list-item{
    color: rgba(255,255,255,0.6) !important;
    /* font-size: 10px; */
    /* line-height: 100% !important; */
} 

/*  BARRA FINAL DA PÁGINA */
.footer-end{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #898989;
    margin: 600px;
    
}

