
<mat-toolbar>
    <mat-toolbar-row class="first-toolbar">

        
        
        <mat-list class="mat-list-wrapper">
            <mat-list-item>
                <span>
                    <img class="logo-img" src="assets/img/logo-light-rodapé.png" alt="logo-rodapé">
                 </span>
            </mat-list-item>

            <mat-list-item>
                <p  class="altura">Lorem ipsum dolor sit amet consectetur adipisicing elit.  </p> 
            </mat-list-item>


            <mat-list-item>
                <span class="mdi mdi-facebook"></span>
                <span class="mdi mdi-twitter"></span>
                <span class="mdi mdi-linkedin"></span>
                <span class="mdi mdi-instagram"></span>
            </mat-list-item>
        </mat-list>



         <span class="example-spacer"></span>
         <mat-list role="list">
            <mat-list-item class="title2" role="listitem">ABOUT US</mat-list-item>
            <mat-list-item role="listitem"><a>Works</a></mat-list-item>
            <mat-list-item role="listitem"><a>Strategy</a></mat-list-item>
            <mat-list-item role="listitem"><a>Releases</a></mat-list-item>
            <mat-list-item role="listitem"><a>Press</a></mat-list-item>
            <mat-list-item role="listitem"><a>Mission</a></mat-list-item>
        </mat-list>

        <mat-list role="list">
            <mat-list-item class="title2" role="listitem">CUSTOMERS</mat-list-item>
            <mat-list-item role="listitem"><a>Tranbding</a></mat-list-item>
            <mat-list-item role="listitem"><a>Popular</a></mat-list-item>
            <mat-list-item role="listitem"><a>Customers</a></mat-list-item>
            <mat-list-item role="listitem"><a>Features</a></mat-list-item>
        </mat-list>
        
        <mat-list role="list">
            <mat-list-item class="title2" role="listitem">SUPPORT</mat-list-item>
            <mat-list-item role="listitem"><a>Developers</a></mat-list-item>
            <mat-list-item role="listitem"><a>Suport</a></mat-list-item>
            <mat-list-item role="listitem"><a>ustomer</a></mat-list-item>
            <mat-list-item role="listitem"><a>Customer</a></mat-list-item>
            <mat-list-item role="listitem"><a>Get Started</a></mat-list-item>
            <mat-list-item role="listitem"><a>Guide</a></mat-list-item>
        </mat-list> 





















                <!-- LISTAS
                    <mat-list role="list">
                        <mat-list-item class="title2" role="listitem">ABOUT US</mat-list-item>
                        <mat-list-item role="listitem"><a>Works</a></mat-list-item>
                        <mat-list-item role="listitem"><a>Strategy</a></mat-list-item>
                        <mat-list-item role="listitem"><a>Releases</a></mat-list-item>
                        <mat-list-item role="listitem"><a>Press</a></mat-list-item>
                        <mat-list-item role="listitem"><a>Mission</a></mat-list-item>
                    </mat-list>

                    <mat-list role="list">
                        <mat-list-item class="title2" role="listitem">CUSTOMERS</mat-list-item>
                        <mat-list-item role="listitem"><a>Tranbding</a></mat-list-item>
                        <mat-list-item role="listitem"><a>Popular</a></mat-list-item>
                        <mat-list-item role="listitem"><a>Customers</a></mat-list-item>
                        <mat-list-item role="listitem"><a>Features</a></mat-list-item>
                    </mat-list>
             
                    
                    <mat-list role="list">
                        <mat-list-item class="title2" role="listitem">SUPPORT</mat-list-item>
                        <mat-list-item role="listitem"><a>Developers</a></mat-list-item>
                        <mat-list-item role="listitem"><a>Suport</a></mat-list-item>
                        <mat-list-item role="listitem"><a>ustomer</a></mat-list-item>
                        <mat-list-item role="listitem"><a>Customer</a></mat-list-item>
                        <mat-list-item role="listitem"><a>Get Started</a></mat-list-item>
                        <mat-list-item role="listitem"><a>Guide</a></mat-list-item>
                    </mat-list> -->


                    
    </mat-toolbar-row>

    <mat-toolbar-row class="second-toolbar">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        </p>
    </mat-toolbar-row> 

</mat-toolbar>