<mat-card class="mt-md-4 text-center">
    <mat-icon mat-card-avatar>
        <i class="{{icon}}"></i>
    </mat-icon>

    <mat-card-title class="card-content fs-20 fw-bold mt-4 mb-2">{{title}}</mat-card-title>
    <mat-card-subtitle class="card-content fs-15 fc-grey mb-0"><sup>$</sup>{{price}}</mat-card-subtitle>
    <mat-card-subtitle class="card-content fs-15 fc-grey mb-0">User / Month</mat-card-subtitle>
    <mat-card-subtitle class="card-content fs-15 fc-grey mb-0">Bandwidth: {{bandwidth}}</mat-card-subtitle>
    <mat-card-subtitle class="card-content fs-15 fc-grey mb-0">Onlinespace: {{onlinespace}}</mat-card-subtitle>
    <mat-card-subtitle class="card-content fs-15 fc-grey mb-0">Support: {{support}}</mat-card-subtitle>
    <mat-card-actions>
        <app-princing-button content="Buy Now"></app-princing-button>
    </mat-card-actions>
    
  

</mat-card>